button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: solid;
}

@mixin button-styles($color) {
  background-color: $color;
  color: white;
}

.green-button {
  @include button-styles(#7fff00);
}

.red-button {
  @include button-styles(#ee204d);
}
